use Mix.Config

config :explorer, Explorer.Repo,
  database: "{{ db_name }}",
  hostname: "{{ db_host }}",
  username: "{{ db_user }}",
  password: "{{ db_user_password }}",
  pool_size: 20,
  pool_timeout: 60_000,
  timeout: 80_000,
  queue_target: 5000,
  queue_interval: 100_000
